<section id = "block_work">
    <div class="container">
        <div class="row work-head text-center">
            <div class="col">
                <h2 >
                    Как мы работаем
                </h2>
            </div>
        </div>
        <div class="row work text-center">
            <div class="col-md-3  col-6">
                <div class="icobox">
                    <div class="icobox__icon-holder text-center">
                        <div class="icobox__icon">01</div>
                    </div>
                    <div class="icobox__body">
                        <h5 class="icobox__title">Выбор</h5>
                        <p>Выберите на сайте доски объявлений нужную категорию и фильтры</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="icobox">
                    <div class="icobox__icon-holder">
                        <div class="icobox__icon">02</div>
                    </div>
                    <div class="icobox__body">
                        <h5 class="icobox__title">Загрузка</h5>
                        <p>Вставьте ссылку с доски объявлений в парсер на сайте</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="icobox">
                    <div class="icobox__icon-holder">
                        <div class="icobox__icon">03</div>
                    </div>
                    <div class="icobox__body">
                        <h5 class="icobox__title">Оплата</h5>
                        <p>Оплатите рассчитанную стоимость</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="icobox">
                    <div class="icobox__icon-holder">
                        <div class="icobox__icon">04</div>
                    </div>
                    <div class="icobox__body">
                        <h5 class="icobox__title">Готово</h5>
                        <p>Получите ссылку на собранные данные</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row work-footer text-center">
            <div class="col">
                <div class="section-btn">
                    <a href='{{ url_for("main.parser") }}' class="btn btn-primary primary_blue">Платная версия</a>
                </div>
            </div>
        </div>
        <div class="row col text-center">
            <p>Мы не используем готовые базы данных. Вся информация собирается онлайн с сайта доски объявлений.</p>
        </div>
    </div>
</section>