
<section id = "block_free">
    <div class="container">
        <div class="row free-head text-center">
            <div class="col">
                <h2>Получить бесплатный образец</h2>
                <p>Для бесплатного скачивания доступно 20 объявлений.
                     Для больших объемов перейдите на <a class="underline" href='{{ url_for("main.parser") }}'>платную версию</a>.
                    </span-->
                </p>
            </div>
        </div>
        
        {% if status_work and status_work.status %}
        <div class="alert alert-{{ status_work.status }}" role="alert">
            {{ status_work.status_text|safe }}
        </div>
        {% endif %}
        {#}
        <?php //30 руб. на счет и скачать еще 1000 объявлений бесплатно.
            if ($session_login_id=='')
            echo '<div class="alert alert-info" role="alert">
                    Зарегистрируйтесь, чтобы получить больше объявлений
                     <a href="/login'.$utm_hvost.'">Вход</a> / <a href="/reg'.$utm_hvost.'">Регистрация</a>
                         </div>';
        ?>{#}
        <div class="row free-form">
            <div class="col">
               {#}<?php if (AVITO_ERROR==1) echo AVITO_ERROR_MSG;?>{#}
                <form id="freeform" method="POST">
                <fieldset id="FreeFields">
                    {{ free_form.csrf_token }}
                    <div class="text-danger my-2" id="csrf_token-error"></div>
                    
                    <div class="mb-3 row">
                        {{ free_form.url.label(class='col-md-2 col-form-label') }}
                        <div class="col-sm-10">                    
                            {{ free_form.url(class='form-control') }}
                            <div id="url-error" class="invalid-feedback"></div>
                            <small class="form-text">
                                Скопируйте ссылку из адресной строки браузера после применения нужных фильтров на сайте доски объявлений 
                                <a class="underline small_a" rel="nofollow" href="https://avito.ru" target="_blank">avito.ru</a>
                                <a class="underline" href="{{ url_for('help.block', active_block='how_use') }}" target="_blank"><img src="{{ url_for('main.static', filename='/img/help/help-icon.png') }}" width="16" height="16" alt="Что это?"></a>
                                <br>Пример: https://www.avito.ru/moskva/predlozheniya_uslug
                            </small> 
                        </div>                        
                    </div>    
                    <div class="mb-3 row">                    
                        {{ free_form.email.label(class='col-md-2 col-form-label') }}
                        <div class="col-sm-10"> 
                            {{ free_form.email(class='form-control') }}
                            <div id="email-error" class="invalid-feedback"></div>
                            <small class="form-text">
                                Введите email, на который отправить результаты работы и нажмите "Скачать данные"
                            </small>
                        </div>   
                    </div>  

                    <div class="mb-3">
                        <div class="form-check">
                            {{ free_form.checkPD(class="form-check-input", type="checkbox") }}
                            <label class="form-check-label" for="invalidCheck">
                                Я даю соглаcие на <a class="underline" style="color:black;" href="{{ url_for('main.politics')}}" target="_blank" rel="nofollow">обработку персональных данных</a> и
                                принимаю условия <a class="underline" style="color:black;" href="{{ url_for('main.static', filename='/files/oferta.pdf') }}" rel="nofollow" target="_blank">пользовательского соглашения.</a>
                            </label>
                            <div id="checkPD-error" class="invalid-feedback"></div>
                            </div>
                    </div>
                    <div class="mb-3 text-center" id="freeform_submit" >
                        {{ free_form.submit(class='btn btn-primary') }}
                    </div>
                    <div class="mb-3 text-center" id="freeform_spiner" style="display: none;">
                        <button class="btn btn-primary" type="button" disabled  >
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Загрузка...
                        </button>
                    </div>
                    <div class="row" >
                        <div class="col-md-10 ml-auto">
                            <div id="InfoFreeBlock" style="display:none;" class="alert alert-secondary"  role="alert"></div>
                        </div>
                    </div>
                </fieldset></form>
                <div class="alert alert-success" style="display: none;" id="free_form_successmessage" role="alert"></div>
            </div>
        </div>        
    </div>
</section>
