<section id = "block_preim">
    <div class="container">
        <div class="row preim-head text-center">
            <div class="col">
                <h2>
                    Почему с нами выгодно работать
                </h2>
                <p>Больше никаких программ, прокси и долгих настроек, собирай данные с досок объявлений онлайн прямо с телефона. </p>
            </div>
        </div>
        <div class="row preim text-center">
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="hex-icon__shape">
                        <i class="hex-icon__icon far fa-clock" aria-hidden="true"></i>
                    </div>
                    <p class="sub_p">Работаем </p>
                    <p class="color_p">24 часа </p>
                    <p class="sub_p">в сутки</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="hex-icon__shape">
                        <i class="hex-icon__icon fa  fa-download" aria-hidden="true"></i>
                    </div>
                    <p class="sub_p">За 5 мин</p>
                    <p class="color_p">1 000</p>
                    <p class="sub_p">объявлений</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="hex-icon__shape">
                        <i class="hex-icon__icon fas fa-ruble-sign"></i>
                    </div>
                    <p class="sub_p">Цена</p>
                    <p class="color_p">{{ price.price_kop }} коп.</p>
                    <p class="sub_p">за объявление</p>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="item">
                    <div class="hex-icon__shape">
                        <i class="hex-icon__icon far fa-thumbs-up" aria-hidden="true"></i>
                    </div>
                    <p class="sub_p">Заказ</p>
                    <p class="sub_p">от</p>
                    <p class="color_p"> 0 руб.</p>
                </div>
            </div>
        </div>
    </div>
</section>