{% extends "base.html" %}

{% block content_head %}
{% endblock %}

{% block content %}

<section id = "header" class="vh-100">
    <div class="section-table">
        <div class="section-row">
           <div class="section-cell">
                <div class="section-center">
                    <h1>
                         Онлайн Парсер <br>Объявлений <br>АВИТО
                    </h1>
                    <p class='cat_name' id ='cat_name'>
                        Недвижимость
                    </p>
                    <div class="section-btn">
                        <a href='#block_free' class="btn btn-primary ankor">Попробовать бесплатно</a>
                        <a href='{{ url_for("main.parser") }}' class="btn btn-primary primary_blue">Платная версия</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-row">
            <div class="section-cell" id = 'mini_menu'>    
                <span class ='meny'><a class="ankor" href='#block_preim'>Преимущества</a></span>
                <span class ='meny'><a class="ankor" href='#block_polya'>Что Вы получите</a></span>
                <span class ='meny'><a class="ankor" href='#block_work'>Как мы работаем</a></span>                
            </div>
        </div>
        <div class="section-row">
            <div class="section-cell" id = 'mini_menu'>  
                <span class ='meny'><a class="ankor" href='#block_work'><i class="fas fa-angle-double-down fa-2x"></i></a></span>
            </div>
        </div>
    </div>
</section>

{% include '_index_block_preim.html' %}

{% include '_index_block_polya.html' %}

{% include '_index_block_work.html' %}

{% include '_index_block_free.html' %}

{% include '_index_block_faq.html' %}

{% include '_index_block_comments.html' %}

{% include '_index_block_contact.html' %}

{% endblock %}

{% block content_js %}

<script src="{{ url_for('main.static', filename='js/index.js') }}"></script>
<script>{# задаем переменные, которые нужны в js файлах #}    
    const fetch_block_free_url = "{{ url_for('main.free_order') }}";
    const fetch_block_contact_url = "{{ url_for('main.contact') }}";
</script>

<script src="{{ url_for('main.static', filename='js/index_block_free.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/index_block_contact.js') }}"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{% endblock %}
