<nav class="navbar navbar-expand-md fixed-top"> 
  <div class="container">
        <a class="navbar-brand" style="display:inline-block; padding: 0 0;" href="{{ url_for('main.index') }}">
            <div style="display:inline-block; vertical-align: top; margin: 0 0; margin-top: 7px;">
              <img src="{{ url_for('main.static', filename='img/favicon.ico') }}" alt="parser24" width="40" height="40" {#}class="d-inline-block align-text-top"{#}>
            </div>
            <div class="col"  style="display:inline-block; margin: 0 0; text-align: center;">
              <p style="display:inline-block; font-size: 0.8em; margin: 0 0; text-align: center;">PARSER24 </p>
              <p style="font-size: 0.6em; margin: 0 0; text-align: center;">ex avi2-parser</p>
            </div>
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_menu" aria-controls="navbar_menu" aria-expanded="false" aria-label="Меню">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse " id="navbar_menu">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint=='main.index' %}active{%endif %}" aria-current="page" href="{{ url_for('main.index') }}">
            Главная
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint=='main.parser' %}active{%endif %}" href="{{ url_for('main.parser') }}">
            Парсер
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link {% if request.endpoint=='comments.index' %}active{%endif %}" href="{{ url_for('comments.index') }}">
            Отзывы
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint=='help.block' %}active{%endif %}" href="{{ url_for('help.block', active_block='how_use') }}">
            Помощь
          </a>
        </li>
        {% if current_user.is_admin %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-tie"></i> Admin
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{{ url_for('admin.orders') }}">Список заказов</a>              
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('admin.doxod') }}">Доход в день</a>              
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('admin.doxod_month') }}">Доход в месяц</a>              
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('admin.users') }}">Пользователи</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('admin.payments') }}">Платежи</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Добавить платеж</a>              
            </li>
            <li>
              <a class="dropdown-item" href="#">Логи</a>              
            </li>
          </ul>
        </li>
        {% endif %}
        
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
        
        <li class="nav-item">          
          <a class="btn btn-outline-warning me-3" href="{{ url_for('auth.login') }}">Войти</a>
          
        </li>
        {% else %}           
        <li class="nav-item"></li>     
          <a class="nav-link" href="{{ url_for('lk.messages') }}" style="margin-right: 12px;" 
          data-toggle="tooltip" data-placement="bottom" title="Новых сообщений нет">
          <i class="far fa-bell"></i>
          </a>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-money-bill-alt"></i> {{ current_user.balance }} ₽
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Пополнить счет</a></li>
            <li><a class="dropdown-item" href="{{ url_for('lk.payments')}}">Платежи</a></li>
            <li><a class="dropdown-item" href="{{ url_for('lk.orders')}}">Заказы</a></li>
            <li><a class="dropdown-item" href="#">Партнерка</a></li>
            <li><a class="dropdown-item" href="{{ url_for('lk.user', username=current_user.username) }}">Профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Выход</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      
    </div>
  </div>
</nav>   