{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card border-info mb-3" id = "card_data" >
        <div class="card-header border-info">
            <h2 class="text-center" id="card_h">Информация по заказу {% if order.stop == 0 %} №{{ order.order_id }} от {{ order.order_date }}{% endif %} </h2>
        </div>
        <div class="card-body">
            {% if order.stop == 1 %} 
            <p class="text-center" id ="header">
                {{ order.stop_header|safe }}
            </p>
            {% else %}

            {% if status_work and status_work.status %}
            <div class="alert alert-{{ status_work.status }}" role="alert">
                {{ status_work.status_text|safe }}
            </div>
            {% endif %}
            {% if order.comment_for_order %}
            <div class="row" id ="div_mess_for_order" >
                <div class="col">
                    <div class="alert alert-warning" id ="mess_for_order" role="alert">
                        {{ order.comment_for_order|safe }}                        
                    </div>
                </div>
            </div>
            {% endif %}
            {% if order.admin_panel %}            
            <div class="row" id ="div_admin_panel"  >
                <div class="col">
                    <div class="alert alert-info" id ="admin_panel" role="alert">
                        <div class="knopki" style="margin-bottom: 10px;">
                            <button class="btn btn-outline-dark" style="width: 40px;height: 40px;" title="Остановить/запустить" {# onclick="order_stop(53821);"#}>
                                <i class="fa fa-stop" aria-hidden="true"></i> 
                            </button> 
                            <button class="btn btn-outline-dark" style="width: 40px;height: 40px;" title="Рестарт" {# onclick="order_restart(53821);"#}>
                                <i class="fas fa-sync"></i> 
                            </button>  
                            <button class="btn btn-outline-dark" style="width: 40px;height: 40px;" title="export" {# onclick="order_export(53821);"#}>
                                <i class="fa fa-download" aria-hidden="true"></i> 
                            </button> &nbsp;&nbsp;
                            <button class="btn btn-outline-dark" style="width: 40px;height: 40px;" title="Платежи" {# onclick="show_user_pay(1, 'admin' ); "#}>
                                <i class="far fa-money-bill-alt"></i>
                            </button>
                            <button class="btn btn-outline-dark" style="width: 40px;height: 40px;" title="Заказы" {# onclick="show_user_order(1, 'admin' );"#}>
                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                            </button>
                        </div>
                        {# {{ order.admin_panel|safe }} #}
                    </div>
                </div>
            </div>
            {% endif %}
            <!--
            <div class="row" id ="autoload_div"  >
                <div class="col">
                <div class="alert alert-info" id ="autoload_text" role="alert">
                </div></div>
            </div>
            <div class="row" id ="div_queue_mess"  >
                <div class="col">
                <div class="alert alert-info" id ="queue_mess" role="alert">
                </div></div>
            </div>
            -->
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Ссылки на объявления:</p>
                </div>
                <div class="col-sm-6">
                    <p id='p_url'>
                        {% if order.url_short %}
                        <a data-bs-toggle="collapse" href="#collapse_url" role="button" aria-expanded="false" aria-controls="collapse_url"> 
                            <span id="t_url_short">
                                {{ order.url_short }}...
                            </span> 
                            <i class="fas fa-chevron-down"></i> 
                        </a>
                        {% else %}
                        {{ order.url }}
                        {% endif %}                            
                    </p>                   
                </div>
            </div>
            {% if order.url_short %}
            <div class="row">
                <div class="collapse" id="collapse_url">
                  <div class="card card-body" style="border:0px;">
                    <p><span id="t_url">{{ order.url }}</span></p>
                  </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Скачано объявлений:</p>
                </div>
                <div class="col-sm-6">
                    <p><span id="t_get_ads">
                        {{ order.div_get_ads }}
                    </span> </p>
                </div>
            </div>
            {% if order.free == 0 %} {# для бесплатных не показывать инфу #}
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Подходят для выгрузки:</p>
                </div>
                <div class="col-sm-6">
                    <p><span id="t_get_load_ads">
                        {{ order.div_good_ads }}
                    </span> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Исключены из выгрузки:</p>
                </div>
                <div class="col-sm-6">
                    <p><span id="t_get_no_ads">
                        {% if order.div_no_ads %}
                        {{ order.div_no_ads|safe }}
                        {% else %}
                        Не выбраны фильтры
                        {% endif %}
                    </span> </p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Статус работы:</p>
                </div>
                <div class="col-sm-6">
                    <p><span id="t_status">
                        {{ order.status }}
                    </span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Файл с данными:</p>
                </div>
                <div class="col-sm-6">
                    <p><span id="t_xls_file">
                        {% if order.status_id < 4 %}
                            Пока не сформирован
                        {% else %}
                            <a class="underline purple_color" href="{{ order.xls_file }}">avito.xlsx</a> 
                            {% if order.csv_file %}
                                <br><a class="underline purple_color" href="{{ order.csv_file }}">avito.csv ({% if order.export_csv==1 %}win-1251{% else %}utf-8{% endif %})</a> 
                                {% if order.csv_zip_file %}
                                <br> csv в архиве <a class="underline purple_color"  href="{{order.csv_zip_file }}">avito.csv.zip</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Дополнительные фильтры:</p>
                </div>
                <div class="col-sm-6">
                    <p><span id="dop_func">{% if order.dopfields_name %}{{ order.dopfields_name|safe }}{% else %}Не заданы{% endif %}</span></p>
                </div>
            </div>
            {% if order.parse_by_date%} {# не показывать если не выбрано #}
            <div  id="div_parse_by_date">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="blue-test">Парсить по дату:</p>
                    </div>
                    <div class="col-sm-6">
                        <p><span id="parse_by_date">
                            {{ order.parse_by_date }}                            
                        </span></p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if order.limit_count > 0 %}{# не показывать если не выбрано #}
            <div  id="div_limit" >
                <div class="row" >
                    <div class="col-sm-6">
                        <p class="blue-test">Лимит объявлений:</p>
                    </div>
                    <div class="col-sm-6">
                        <p><span id="limit">                            
                            {{ order.limit_count }}                            
                        </span></p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="blue-test">Поля:</p>
                </div>
                <div class="col-sm-6">
                    <p id="p_field_str">
                        {% if order.fields_name_short %}
                        <a data-bs-toggle="collapse" href="#collapsefield" role="button" aria-expanded="false" aria-controls="collapsefield"> 
                            <span id="t_url_short">
                                {{ order.fields_name_short }} ...
                            </span> 
                            <i class="fas fa-chevron-down"></i> 
                        </a> 
                        {% else %} 
                        {{ order.fields_name }}
                        {% endif %} 
                    </p>
                </div>
            </div>
            {% if order.fields_name_short %}
            <div class="row">
                <div class="collapse" id="collapsefield">
                  <div class="card card-body" style="border:0px;">
                    <p><span id="field_str">
                        {{ order.fields_name }}
                    </span></p>
                  </div>
                </div>
            </div>
            {% endif %} 
            <p></p>

            <div class="progress" id="progress_work">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" id ="progressbar_work" role="progressbar" 
                style="width: 25%; height: 20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Выполнение заказа</div>
            </div>
            <p></p>
            <div class="progress" id ="progress_ads" >
                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" id ="progressbar_ads" role="progressbar" 
                style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Объявлений скачано</div>
            </div>
            <p></p>
            <div id='msg_div' >
                <div class="alert alert-success alert-dismissible" id ='msg_text' role="alert">
                    {{ order.message_for_order|safe }}
                </div>
            </div>

            <div id='price_comm' >
                <p>Внимание! Файлы с данными хранятся на сервере не более {{ HOW_MANY_DAYS_STORE_FILE }} дней.</p>
            </div>
            
            {% endif %}
        </div> <!-- card-body -->
        <div class="card-footer">
            <p>
                Нашли ошибку в заказе? Хотите что-то улучшить? Напишите нам
                <i class="far fa-envelope" aria-hidden="true"></i>
                <a href="{{ g.support_email }}">{{ g.support_email }}</a>
            </p>
        </div><!-- card-footer -->
    </div><!-- div class="card -->
</div><!-- class="container" -->
{% endblock %}

{% block content_js %}
<script>{# задаем переменные, которые нужны в js файлах #}  
    {% if order.status_id %}const order_status_id = {{ order.status_id }};{% else %}const order_status_id = 1;{% endif %}
    {% if order.progressbar_ads_text %}const progressbar_ads_text = '{{ order.progressbar_ads_text }}';{% else %}const progressbar_ads_text = "";{% endif %}
    {% if order.progressbar_ads_coord %}const progressbar_ads_coord = {{ order.progressbar_ads_coord }};{% else %}const progressbar_ads_coord = 0;{% endif %}
    {% if order.status %}const progressbar_work_text = '{{ order.status }}';{% else %}const progressbar_work_text = "";{% endif %}
    {% if order.status_id %}const progressbar_work_coord = 100 * {{ order.status_id }} / 4;{% else %}const progressbar_work_coord = 0;{% endif %}    
</script>

<script src="{{ url_for('main.static', filename='js/order.js') }}"></script>
{% endblock %}